:root {
    --main-color : #333;
    --secondary-color : #E60263
  }
  html,body{
    min-height: 100vh;
    direction: rtl;
    color : var(--main-color);
    position: relative;
    overflow-x: hidden !important;
    font-display: swap !important;
  }
  img{
    cursor: pointer;
  }
  header{
    z-index: 1039 !important;
  }
  a{
    text-decoration: none;
    color : var(--main-color)
  }
  input, label{
    font-size: 18px !important;
  }

  section {
    margin: 80px 0px;
  }
  .image-responsive{
    height: 100% !important;
    position: absolute !important;
  }
  .iframe-responsive{
    height: 100% !important;
    position: absolute !important;
    background-attachment: fixed;
  }
/* ------------------- Embla Carousel--------------------------*/
.embla {
  --slide-spacing: 0;
  --slide-size: 100%;
  --slide-height: 100vh;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  -webkit-backface-visibility: hidden;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;

}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  height: 100vh !important;
}
.slide-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff !important;
  background-color: #00000073;
  position: absolute;
  width: 100%;
}
/* ------------------- service --------------------------*/



